 @using Microsoft.AspNetCore.Authentication
 @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - VistaNewProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VistaNewProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/822fe3c749.js" crossorigin="anonymous"></script>
</head>
<body>
      <div id="Cabecera">
        <div>
            <button id="menu-toggle" class="btn btn-link">
                <i class="fas fa-bars" style="color: white; font-size: 20px;"></i>
            </button>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">OPTIMUS </a>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div style="margin-left: auto;">
                <a id="Perfil" style="text-decoration: none; color: inherit;" class="nav-link dropdown-toggle" onclick="opcionesDePerfil();">
                    <i style="color:white; font-size:20px;" class="fas fa-user fa-fw"></i>
                        <span style="user-select:none;">@User.Identity.Name </span>
                </a>
            </div>
        }
        else
        {
            <div style="margin-left: auto;">
                <a id="Perfil" style="text-decoration: none; color: inherit;" href="Login" class="nav-link dropdown-toggle">
                    <i style="color:white; font-size:20px;" class="fas fa-user fa-fw"></i>
                    <span>Inicia sesión</span>
                </a>
            </div>

            
        }

    </div>
    <div id="Cuerpo">
        <div id="Menu" class="sidebar">
            <a class="sidebar-label Texto"  asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
            <label for="opcion1" class="sidebar-label Texto">Configuración</label>
            <input type="checkbox" id="opcion1" >
            <div class="sub-menu">
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="Rols" asp-action="Index">Roles</a>
            </div>
            <label for="opcion2" class="sidebar-label Texto">Compras</label>
            <input type="checkbox" id="opcion2" >
            <div class="sub-menu">
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="Compras" asp-action="Index">Compras</a>
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="DetalleCompras" asp-action="Index">DetalleCompras</a>
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="Presentaciones" asp-action="Index">Presentaciones</a>
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a>
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a>
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="Unidades" asp-action="Index">Unidades</a>
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="Proveedores" asp-action="Index">Proveedores</a>
            </div>
            <a class="sidebar-label Texto" asp-area="" asp-controller="Movimientos" asp-action="Index">Movimientos</a>
            <label for="opcion3" class="sidebar-label Texto">Pedidos</label>
            <input type="checkbox" id="opcion3">
            <div class="sub-menu">
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="DetallePedidos" asp-action="Index">Detalle Pedidos</a>
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="Domicilios" asp-action="Index">Domicilios</a>
                <a class="sidebar-label Texto submenu" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                
            </div>
            <a class="sidebar-label Texto" asp-area="" asp-controller="Lotes" asp-action="Index">Lotes</a>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="">
        <div>
            &copy; 2024 - Optimus - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>   
    <div id="perfilVentanaEmergente" style="display:none;">
        <a asp-controller="Miperfil" asp-action="Index" class="opcionesVentanaEmergente">Mi perfil</a>
        <a href="#" id="exit" onclick="confirmLogout();" >Cerrar sesión</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
