@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">
                <span>Bienvenido, @User.Identity.Name</span>
        </h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
else
{
    <h1 class="display-4">
         <span>No has iniciado sesion</span>,<a href="Login">Ir al login</a>
    </h1>
}
