/* Estilo para que la modal ocupe el 100% de la pantalla*/
#ModalCompra {
    margin: 0;
    padding: 0;
}

/* Estilo para la posicion de la modal*/
#CompraVista {
   margin-top:10px;
}

/*Estilos para las etiquetas dentro de la modal y hacer crecer o decrecer la modal */
.modal-content {
    user-select: none;
}

/*-------------------------Estilos para la cabecera de la ventana modal de compras-----------------*/

.Compra .modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
/*----Estilos de la x ----*/
#modal-header-icono-boton {
}

#modal-header-equis {
    margin-right: 10px;
    margin-top: 5px;
}

.close {
    border: none;
    cursor: pointer;
}

    .close:hover {
        background-color: rgba(0, 0, 0, 0.3); /* Color de fondo al pasar el ratón */
    }

/*--- Estilo para el titulo ----*/
.Compra .modal-header h2 {
  padding:0px;
  margin:0px;
}


/*--------------------------------------------*/

/*----------------------------------------PrimerFormulario datos de compra---------------------------------*/
#PrincipalCompra {

}
#PrincipalCompra .form-group {

}

/*estilos para el footer de actualizar compra en la ventana modal*/
.contenedorFooter {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

/*------------------------------------------Detalles----------------------------------------------------------*/
/*Div para agregar detalles a la compra desde el producto hasta la tabla donde se pueden ver dichos productos*/
#DetallesCompra {  
    
    
}

/*Diseños tabla de detalles producto*/

/*Div que contiene todos los elemetos menos el titulo de la modal*/
#TablaDetalles {
    padding: 0 20px; /* 20px arriba y abajo, 0 en los lados */
}


/*Input cantidad*/
#CampoCantidad input {
    height: 40px;
    border-radius: 20px;
    max-width: 95px;
    min-width: 50px;
}
    #CampoCantidad input:hover {
        border: 1px solid #3EAE3E;
    }


/*----- Estilos de SWEET ALERT que se muestra al momento de agregar el detalle y ay errores -----*/
#divAlertaConfirmar p {
    border: solid black 1px;
    border-radius: 20px;
    margin: 10px 0; /* Agrega margen superior e inferior para separar los párrafos */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
    font-size:18px;
}

#divAlerta ul {
    list-style-type: none;
    margin-top: 20px;
    padding:0;
    width: 400PX;
    border-bottom:solid 1px black;
}
#divAlerta li {
    list-style-type: none;
    border-top: solid 1px black;
    margin-bottom:7px;
    width:400px; 
}

.textoAlerta {
    color: black;
    font-size: 18px;
}




/* Media query para un tamaño de ventana máximo de 960px (zoom 200%) */
@media (max-width: 911px) {
    .col-3 #btnMas,
    .col-3 #btnMenos {
        display: none;
    }

    .btn-calculo {
        border-radius: 10px;
        width: 32px;
        height: 33px;
    }
}


/*Estilos valor total*/
#modal-header-ValorTotal-contenedor {
    display: flex; /* Utiliza flexbox para el diseño */
    align-items: center; /* Alinea verticalmente los elementos */
}

    #modal-header-ValorTotal-contenedor h5, #modal-header-ValorTotal-contenedor input {
        max-width: 200px;
        pointer-events: none;
        user-select: none; /* Evita la selección de texto */
        font-size: 20px;
        border-radius: 20px;
        background: transparent;
    }


    #modal-header-ValorTotal-contenedor h5 {
        padding-top: 10px;
        padding-left: 10px;
    }

    #modal-header-ValorTotal-contenedor input:hover,
    #modal-header-ValorTotal-contenedor input:focus,
    #modal-header-ValorTotal-contenedor input:active {
        /* Estilos para :hover, :focus, :active */
        /* Aquí puedes dejar los estilos vacíos o como prefieras */
        /* Ejemplo: */
        outline: none; /* Quitar el contorno al hacer hover, focus o active */
    }

#verCompra {
    display: inline-flex;
    align-items: center;
}

.modal-footer-botones {
    width: 100%; /* Establecer el ancho al 100% */
    box-sizing: border-box; /* Incluir el padding y border en el ancho total */
    padding: 5px;
    display: flex;
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    align-items: center;
}
.modal-footer-inicial {
    display:flex;
}
.modal-footer-inicial button{
    margin:5px;
}

#btnModal {
    margin-right: 0; /* Mover el botón Registrar Compra a la izquierda */
}






    /*-----------------------Diseños generelaes----------------------------------*/

/*--- DIV para generar un espacio ---*/
.EspacioForm {
    height: 20px;
}
/*Diseño para etiqueta label de toda la pagina*/
#CompraVista label {
    display: inline-flex; /* Mantener el display flex para centrar verticalmente */
    align-items: center; /* Centrar verticalmente */
    vertical-align:central;
}

/*---Estilos para que se vean o no los elemtos al momento de cargar la pagina---*/
/*Hace que el elemnto desaparezca con todo su contenido*/
.noVisualizar {
    display: none;
}

/*El contenido sigue presenta pero no se puede ver */
.noVer {
    visibility: hidden;
    display: none;
}

.noSee {
    visibility: hidden;
    display: none;
}
.invisible{
    border:solid 3px black;
    background:red;
}






/*-----------------------Estilos del * que acompaña al label---------------------------------------------*/
#ContenedorCompra .Mensaje {
    color: red;
    margin-left: 5px;
    padding-top: 10px;
    font-size: 2em;
    height: 20px;
    width: 20px;
    white-space: nowrap; /* Evitar que el texto se desborde a la siguiente línea */
    display: flex; /* Convertir el contenedor en un flex container */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

    #ContenedorCompra .Mensaje:hover {
        color: blue;
        transform: translateY(-1px); /* Mover el elemento hacia arriba 1px al colocar el cursor sobre él */
        cursor: pointer;
    }

#PrecioBougth .Mensaje {
    position: relative; /* Posicionamiento relativo para el contenedor */
    height: 20px;
    width: 20px;
    padding-top: 10px; /* Ajuste para que el asterisco no se salga */
    text-align: center; /* Centrar texto dentro del contenedor */
}

















/*------------------ BOTONES ------------------------*/
#modal-header-botonAgregarDetalle {
    position: absolute;
    right: 20px;
    margin-top:10px;
    z-index: 999;
    visibility:hidden;
}


/*-------------------------------------------*/

/*DIV Botones de actualizar compra*/
#actualizarCompra {
    margin-top: -36px;
    height: 40px;
}

    #actualizarCompra .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #actualizarCompra #reducir {
        height: 36px;
    }

    #actualizarCompra #btnActualizarCompra {
        height: 36px;
        margin-left: 10px;
        border-radius: 20px;
    }


/*-------------------------------------------*/
/*DIV Boton de agregar productos*/
#agregarDetalle {
    padding-top: 10px;
}

#agregarDetalleIcono {
    font-size: 20px;
    margin-right: 10px;
    border: solid 20px solid;
}


/*-------------------------------------------*/
/*Div que contiene la tabla y los botones de paginacion*/
#contenedorTablaDetalles {
    min-width: 100%;
    max-width: 100%;
}

#contenedorTablaDetallesBotones {
    width: 100%;
}

.paginacion-btn {
    height: 30px;
    border-radius: 20px; /* Elimina la esquina redondeada */
    font-size: 15px; /* Ajusta el tamaño de la fuente */
    background: none;
}

    .paginacion-btn:hover {
        background-color: #0069d9; /* Cambia el color de fondo al pasar el mouse */
        border-color: #0062cc; /* Cambia el color del borde al pasar el mouse */
    }

    .paginacion-btn:focus {
        box-shadow: none; /* Elimina la sombra al enfocar */
    }


/*-------------------------------------------*/

/*Botones mas y menos que acompañan al input de cantidad*/
#btnMas, #btnMenos {
    display: inline-block;
    width: 25px;
    height: 35px;
    margin-left: 2px;
    padding: 5px;
}

    #btnMas:hover, #btnMenos:hover {
        background: #ADD8E6;
    }



/*-------------------------------------------*/
/*Div que contiene el input de precio de compra y precio de venta por producto y el bton de calcular*/
.contenedorCalculo {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
}

    .contenedorCalculo input {
        margin-right: -30px; /* Espacio entre el input y el botón */
    }

.btn-calculo {
    margin-left: auto;
    border: none;
    border-radius: 0 10px 10px 0;
    width: 40px;
    height: 38px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    outline: none; /* Quita el borde de enfoque */
}

    .btn-calculo:hover {
        background-color: #0056b3;
        transform: translateY(-1px);
    }



