/* Diseño de modal en general */
.modal-cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    overflow: hidden;
    position: relative;
    border-radius:3px 3px 0px 0px;
    background: #878AB3;
    color:white;
    border-bottom:solid 1px black;
}
/*Posicion de la modal*/
.GeneralModal {
    margin-top: 20px;   
}

#pibo {
    flex: 0 0 auto; 
}

.TituloModal {
    font-size: 1.875rem; /* 30px en rem para adaptabilidad */
    font-weight: 400;
    flex: 1 1 auto;
    text-align: center;
    white-space: nowrap; /* Evita que el texto se desplace a una nueva línea */
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1; /* Asegura que el título esté por encima de otros elementos */
}

#modal-cabecera-equis {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2; /* Permite la interacción con el botón de cierre */
}

.ContenedorVista .modal-dialog {
    width: 100%;
    max-width: 600px; /* Ajusta según tus necesidades */
    margin: auto;
}

.modal-content {
    border: solid black 1px;
}
.modal-cuerpo {
    padding: 15px; /* Añadir un poco de padding para mejor visualización */
}

.row {
    border: solid red dashed;
    margin: 0; /* Eliminar márgenes para un mejor ajuste */
}

/* Media queries para adaptabilidad */
@media (max-width: 768px) {
    .TituloModal {
        font-size: 1.5rem; /* Ajuste de tamaño de fuente para pantallas más pequeñas */
    }

    #modal-cabecera-equis {
        right: 5px; /* Ajuste de posición para pantallas más pequeñas */
    }

    .modal-dialog {
        max-width: 90%; /* Ajuste de ancho para pantallas más pequeñas */
    }
}
/*--------------- Estilos de *------------------------------------------*/
.GeneralModal .form-group {
    position: relative; /* Posicionamiento relativo para que el span absoluto se base en este contenedor */
}

.GeneralModal .Mensaje {
    position: absolute; /* Posiciona el asterisco de forma absoluta dentro del contenedor relativo */
    top: -1px; /* Centra verticalmente*/
    margin-left: 5px; /* Mantiene el margen izquierdo para separación */
    font-size: 1.5em;
    color: red;
}
.GeneralModal .MensajeAct {
    position: absolute; /* Posiciona el asterisco de forma absoluta dentro del contenedor relativo */
    top: -1px; /* Centra verticalmente*/
    margin-left: 5px; /* Mantiene el margen izquierdo para separación */
    font-size: 1.5em;
    color: red;
}

/*-----------FOOTER  M0DAL---------------------------------------------------------*/
.modal-contenedor-footer {
    margin-top:20px;
    display:flex;
    justify-content:end;
}
.modal-contenedor-footer button {
    margin-right:10px;
}
/*-------------- Contenedor de checbox de productos-----------------------------------------------------------------*/
.modal-contenedor-check {
    display: flex;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modal-contenedor-check .contenedorDatos{
    display: block;  
    max-width: 100%
}
.MensajeInicial {
    text-align: center; 
    justify-content:center;
}
.MensajeErrores{
    text-align: center; 
    justify-content:center;
}

/*ajustar tamaño para la modal de categoria*/
#ContenedorCategoria .modal-dialog {
    width:450px;
 
}