/* Estilos generales */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html, body {
    position: relative;
    min-height: 100vh;
}

/* Estilos del contenedor */
.container {
    width: 100%;
    min-height: 520px;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        min-height: auto;
    }
}

/* Estilos de la cabecera */
#Cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2574A8;
    color: #fff;
    width: 100%;
}

#Perfil {
    margin-right: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

    #Perfil:hover {
        box-shadow: 0 0 3px white;
    }

/* Estilos del cuerpo y sidebar */
#Cuerpo {
    display: flex;
    width: auto;
    height: auto;
    margin-top: 0.3px;
}

.sidebar {
    height: auto;
    min-height: 350px;
    width: 150px;
    background-color: #2574A8;
    padding-top: 8px;
    transition: margin-left 0.5s;
    padding: 10px;
}

    /* Otros estilos */
    .sidebar a {
        text-decoration: none;
        color: black;
    }

    .sidebar button,
    .sidebar-label {
        width: 120px;
        line-height: 35px;
        text-align: center;
        align-items: center;
        border-radius: 25px;
        background: #ebf0af;
        cursor: pointer;
        display: block;
        margin-bottom: 4px;
        border: solid black 1px;
        transition: background-color 0.3s ease-in-out;
    }

    /*Diseño cuando el coursor esta sobre la etiqueta*/
        .sidebar button:hover,
        .sidebar label:hover,
        .sidebar a:hover{
            background-color: #E2EE79;
            color: black;
            user-select: none;
        }
/*Desaparece el diseño de los input para que estos puedan usar el del label*/
#opcion1,
#opcion2,
#opcion3{
    display: none;
}

/* SUBMENU */
/*Hace aparecer y desaparecer los sub-menus*/
.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

    .sub-menu a {
        text-align: center;
    }
    .sub-menu .submenu {
        background: #aaaaaa;
    }
        .sub-menu .submenu:hover {
            background: #E2EE79;
            color: black;
        }
    /*Al sel*/
/* Al seleccionar un checkbox y estar marcado, aumenta la altura máxima del siguiente elemento con la clase .sub-menu a 500px */
input[type="checkbox"]:checked + .sub-menu {
    max-height: 500px;
}





/*Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
}

    .switch input {
        width: 0px;
        height: 20px;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: #bb2111;
    -webkit-transition: .4s;
    transition: .4s;
    border: solid 1px black;
    border-radius: 30px;
    width: 40px;
    height: 100%;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 2px;
        top: 5%;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 30px;
    }

input:checked + .slider {
    background-color: black;
    width: 100%;
    height: 25px;
    border-radius: 30px;
}

input:focus + .slider {
    border: solid 1px black;
    border-radius: 30px;
}

input:checked + .slider:before {
    -webkit-transform: translateX(70%);
    -ms-transform: translateX(70%);
    transform: translateX(70%);
}


/*Diseño de elemntos del container*/
.volver {
    margin-top: 20px;
    text-align:center;
    width:100%;
}

.edit {
    margin-top: 30px;
    width:100%;
    text-align:center;
}

.container.menu-hidden {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Ajusta los valores según tu preferencia */
}

.sidebar.menu-hidden {
    display:none;
}

/*Diseños de ventana emergente Perfil */
#perfilVentanaEmergente {
    display: none;
    position: absolute;
    top: 40px;
    right: 30px;
    background-color: #2574A8;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}
.opcionesVentanaEmergente {
    text-decoration: none;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px #2574A8;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* para incluir el borde en el ancho y alto total */
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    text-align: center;
}
    .opcionesVentanaEmergente:hover {
        color: #2574A8;
        background:white;
    }
#exit {
    text-decoration: none;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 1px #2574A8;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* para incluir el borde en el ancho y alto total */
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    text-align: center;
    cursor:pointer;
}
    #exit:hover {
        color: #2574A8;
        background: white;
    }

<<<<<<< HEAD
/* Estilos base para la tabla */
.table-custom {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
=======
    .logo {
    height: 160px;
    width: 150px;
    border: 1px solid black;
}
/*Estilo del texto*/
.Texto {
    color: black;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
}



.table-custom thead th {
    background-color: #2574A8; /* Color de fondo */
    color: white; /* Color del texto */
>>>>>>> cefa8bb84720a4fa5787ec4f182424e2b87871f4
}

    .table-custom thead th {
        background-color: #2574A8; /* Color de fondo */
        color: white; /* Color del texto */
        padding: 10px; /* Espaciado interno */
    }

    .table-custom tbody tr:hover {
        background-color: #f2f2f2; /* Color de fondo al pasar el cursor sobre la fila */
    }

    .table-custom tbody tr {
        transition: all 0.3s ease; /* Transición suave */
    }

        .table-custom tbody tr:hover {
            transform: translateY(-3px); /* Levantar 3px al pasar el cursor */
        }

    .table-custom td, .table-custom th {
        border: 1px solid #ddd; /* Borde */
        padding: 8px; /* Espaciado interno */
        text-align: center; /* Alineación del texto */
    }

/* Estilos para los botones */
.btn {
    padding: 8px 12px; /* Espaciado del botón */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar el ratón */
}

 

/* Media queries para hacer la tabla responsive */
@media screen and (max-width: 768px) {
    .table-custom tbody tr {
        display: block;
        margin-bottom: 20px;
    }

    .table-custom td, .table-custom th {
        display: block;
        text-align: left;
    }

    .table-custom tbody td, .table-custom tbody th {
        padding: 10px;
        border: none;
    }

        .table-custom tbody td:last-child {
            padding-bottom: 20px; /* Ajuste de espacio inferior para el último elemento */
        }

    .btn {
        margin-bottom: 10px; /* Ajuste de espacio entre botones */
    }
}

/*searh y agregar*/
/* Estilos para el buscador y el botón agregar */
.input-group {
    position: relative;
    border-radius: 20px; /* Borde redondeado para el grupo de entrada */
}

.form-control {
    border-radius: 20px 0 0 20px !important; /* Borde redondeado solo en el lado izquierdo */
    padding-right: 38px; /* Espacio para el botón */
}

#searchInput {
    border-radius: 20px 0 0 20px; /* Borde redondeado solo en el lado izquierdo */
    padding-right: 38px; /* Espacio para el botón */
}

#btnNavbarSearch {
    border-radius: 0 20px 20px 0 !important; /* Borde redondeado solo en el lado derecho */
    padding: 8px; /* Espaciado del botón */
    margin-left: -1px; /* Ajuste para el borde del botón */
    position: relative; /* Ajuste de la posición */
}

.btn-primary {
    border-radius: 20px !important; /* Borde redondeado */
    padding: 8px 20px !important; /* Espaciado del botón */
    transition: all 0.3s ease; /* Transición suave */
}

    .btn-primary:hover {
        background-color: #007bff; /* Cambio de color al pasar el ratón */
    }
