/* Estilos generales */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html, body {
    position: relative;
    min-height: 100vh;
}

/* Estilos del contenedor */
.container {
    min-height: 520px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        min-height: auto;
    }
}

/* Estilos de la cabecera */
#Cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #213b68;
    color: #fff;
    width: 100%;

}

#primero {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro de #primero */
}

.circle {
    width: 30px; /* Ancho del círculo */
    height: 30px; /* Altura del círculo */
    border-radius: 50%; /* Hace que sea un círculo */
    overflow: hidden; /* Oculta el exceso de la imagen */
    display: flex; /* Utiliza flexbox para centrar horizontalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
.navbar-brand {

    border:solid red 2px;
}
.circle img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del círculo */
    height: 100%; /* Ajusta la altura de la imagen al 100% del círculo */
    object-fit: cover; /* Ajusta la imagen para cubrir el círculo sin deformaciones */
}
/*Estilos para mi perfil*/
#Perfil {
    margin-right: 20px; 
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

    #Perfil:hover {
        box-shadow: 0 0 3px white;
    }

/* Estilos del cuerpo y sidebar */
#Cuerpo {
    display: flex;
    width: auto;
    height: auto; /* El 80% de la altura de la ventana (viewport height) */
    margin-top: 0.3px;
}


.sidebar {
    height: auto;
    width: 240px; /* Ancho ajustado */
    background-color: #213b68;
    padding: 8px;

}

    /* Otros estilos */
    .sidebar a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 8px 10px;
        background-color: #213b68;
        transition: background-color 0.3s ease-in-out;
        border-radius: 4px;
        margin-bottom: 4px;
    }

    .sidebar button,
    .sidebar label {
        width: auto; /* Ancho automático para que se ajuste al contenido */
        line-height: 35px;
        text-align: left; /* Alineación a la izquierda */
        border-radius: 0; /* Sin borde redondeado */
        background: transparent; /* Fondo transparente */
        cursor: pointer;
        display: block;
        margin-bottom: 4px;
        border: none; /* Sin borde */
        padding-left: 10px; /* Espaciado a la izquierda */
    }

    /*Diseño cuando el coursor esta sobre la etiqueta*/
    /* Estilo para las opciones del menú principal */
    .sidebar a:hover {
        background-color: #6bc7c8; /* Color de fondo azul al pasar el mouse */
        color: black; /* Color del texto al pasar el mouse */
    }



/* Estilo para los elementos que contienen iconos */
.sidebar-label {
    display: flex;
    align-items: center; /* Alinea verticalmente el texto e icono */
}

    /* Estilo para los iconos dentro de los elementos sidebar-label */
    .sidebar-label i {
        font-size: 1.2em; /* Tamaño de fuente más grande que el texto */
        margin-right: 8px; /* Espacio a la derecha del icono */
    }

/*Desaparece el diseño de los input para que estos puedan usar el del label*/
#opcion1,
#opcion2,
#opcion3{
    display: none;
}
    

/* SUBMENU */
/* Hace aparecer y desaparecer los sub-menus */
.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

    .sub-menu a {
        text-align: left;
        display: block;
        padding: 8px 10px;
        color: white;
        text-decoration: none;
        background-color: transparent; /* Eliminar el color de fondo por defecto */
        transition: background-color 0.3s ease-in-out;
        border-radius: 4px;
        margin-top: 2px;
    }

        .sub-menu a:hover {
            background-color: #6bc7c8;
        }

/* Al desplegar el sub-menú */
input[type="checkbox"]:checked + .sub-menu {
    max-height: 500px; /* Ajusta según necesites */
}

    input[type="checkbox"]:checked + .sub-menu a {
        margin-left: 10px; /* Margen izquierdo al desplegar el sub-menú */
    }

.sub-menu a:hover {
    background-color: #6bc7c8;
}

    /*Al sel*/
/* Al seleccionar un checkbox y estar marcado, aumenta la altura máxima del siguiente elemento con la clase .sub-menu a 500px */
input[type="checkbox"]:checked + .sub-menu {
    max-height: 500px;
}

.PIE {
    height:30px;
}
.iframe-optimus {
    height:auto;
}
.pagination-container {
    height:45px;
}
/*Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
}

    .switch input {
        width: 0px;
        height: 20px;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: #DB5461;
    -webkit-transition: .4s;
    transition: .4s;
    border: solid 1px black;
    border-radius: 30px;
    width: 40px;
    height: 100%;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 2px;
        top: 5%;
        background-color: white;
        border: 1px solid black;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 30px;
    }

input:checked + .slider {
    background-color: #878AB3;
    width: 100%;
    height: 25px;
    border-radius: 30px;
}

input:focus + .slider {
    border: solid 1px #878AB3;
    border-radius: 30px;
}

input:checked + .slider:before {
    -webkit-transform: translateX(70%);
    -ms-transform: translateX(70%);
    transform: translateX(70%);
}


/*Diseño de elemntos del container*/
.volver {
    margin-top: 20px;
    text-align:center;
    width:100%;
}

.edit {
    margin-top: 30px;
    width:100%;
    text-align:center;
}

.container.menu-hidden {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Ajusta los valores según tu preferencia */
}

.sidebar.menu-hidden {
    display:none;
}

/*Diseños de ventana emergente Perfil */
#perfilVentanaEmergente {
    display: none;
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: #213b68;
    color: white;
    border-radius: 10px;
    border: 1px solid black; /* Borde sólido de 1px color negro */
}
.opcionesVentanaEmergente {
    text-decoration: none;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* para incluir el borde en el ancho y alto total */
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    text-align: center;
}
    .opcionesVentanaEmergente:hover {
        color: #2574A8;
        background-color: #6bc7c8;
    }
#exit {
    text-decoration: none;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* para incluir el borde en el ancho y alto total */
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    text-align: center;
    cursor: pointer;
}
    #exit:hover {
        color: #2574A8;
        background-color: #6bc7c8;
    }


/*Estilo del texto*/
.Texto {
    color: white;
    font-size: 16px;
    font-family: 'Abel', sans-serif;

}

/*Diseño de paginacion de detalle Nota:el del index es otro*/
/* Contenedor del paginado */
.pagination-detail {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    /* Estilos de los enlaces de paginación */
    .pagination-detail a {
        color: #007bff;
        text-decoration: none;
        padding: 5px 10px;
        margin: 0 5px;
        border: 1px solid #007bff;
        border-radius: 5px;
    }

    /* Estilo del enlace activo */
    .pagination-detail .active {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }

    /* Estilo para el botón de página anterior y siguiente */
    .pagination-detail .prev-next {
        font-weight: bold;
    }



/* Estilos base para la tabla */
.table-custom {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    
}

    .table-custom thead th {
        background-color: #213b68; /* Color de fondo */
        color: white; /* Color del texto */
        padding: 10px; /* Espaciado interno */
     
    }

    .table-custom tbody tr:hover {
        background-color: #f2f2f2; /* Color de fondo al pasar el cursor sobre la fila */
       
    }

    .table-custom tbody tr {
        transition: all 0.3s ease; /* Transición suave */
     
    }

        .table-custom tbody tr:hover {
            transform: translateY(-1px); /* Levantar 3px al pasar el cursor */
           
        }

    .table-custom td, .table-custom th {
        border: 1px solid #ddd; /* Borde */
        text-align: center; /* Alineación del texto */
       
    }


/* Estilos para los botones */
.btn {
    padding: 8px 12px; /* Espaciado del botón */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar el ratón */
}

.contenedorBotonesTabla {
    width: 200px; 
}
.contenedorEstadoTabla {
    width: 100px;
}



/* Media queries para hacer la tabla responsive */
@media screen and (max-width: 768px) {
    .table-custom tbody tr {
        display: block;
        margin-bottom: 20px;
    }

    .table-custom td, .table-custom th {
        display: block;
        text-align: left;
        height:40px;
    }

    .table-custom tbody td, .table-custom tbody th {
        padding: 10px;
        border: none;
    }

        .table-custom tbody td:last-child {
            padding-bottom: 20px; /* Ajuste de espacio inferior para el último elemento */
        }

    .btn {
        margin-bottom: 10px; /* Ajuste de espacio entre botones */
    }

}
/*searh y agregar*/
/* Estilos para el buscador y el botón agregar */
.input-group {
    position: relative;
    border-radius: 20px; /* Borde redondeado para el grupo de entrada */
}


/*Si lo necesita agreguele un id en esecifico BY:Esteban*/
/*.form-control {
    border-radius: 20px 0 0 20px !important;*/ /* Borde redondeado solo en el lado izquierdo */
    /*padding-right: 38px;*/ /* Espacio para el botón */
/*}*/

#searchInput {
    border-radius: 20px 0 0 20px; /* Borde redondeado solo en el lado izquierdo */
    padding-right: 38px; /* Espacio para el botón */
}

#btnNavbarSearch {
    border: none; /* Elimina cualquier borde */
    padding: 8px 12px; /* Reducir el espaciado del botón */
    margin-left: -1px; /* Ajuste para el borde del botón */
    position: relative; /* Ajuste de la posición */
    border-radius: 0; /* Sin bordes redondeados */
}

.btn-primary {
    border-radius: 30px; /* Sin bordes redondeados */
    padding: 8px 12px !important; /* Reducir el espaciado del botón */
    transition: all 0.3s ease; /* Transición suave */
    background-color: #213b68;
}

    .btn-primary:hover {
        background-color: #6bc7c8; /* Cambio de color al pasar el ratón */
        color:black;
    }
  


    /*Colores y diseño  de los Botones de las tabla*/
#btnDelete {
    background: #DB5461;
    color: black;
}
#btnEdit {
    background: #F8D552;
    color: black;
}
#btnDetail {
    background: #7ACBC4;
    color: black;
}

.select-input {
    background: #61AFFE;
    border:solid 12px blue;
}



/*Estilo de Detalle de compra*/

.detalle-compra {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.detalle-compra header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.detalle-compra .detalle-info {
    display: flex;
    flex-wrap: wrap;
}

    .detalle-compra .detalle-info .info-label {
        font-weight: bold;
    }

    .detalle-compra .info-label {
        margin-left: 10px;
    }
    

    .detalle-compra .info-value {
        display: inline-block;
        margin-left: 5px;
    }


.detalle-compra .detalle-info .info-value {
    flex-grow: 1;
}

.pagination-detail {
    margin-top: 20px;
}

    .pagination-detail a {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 5px;
        border: 1px solid #ccc;
        text-decoration: none;
        color: #333;
    }

        .pagination-detail a.active {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }

        .pagination-detail a.disabled {
            pointer-events: none;
            opacity: 0.6;
        }



#iconoDePaginado {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
/*paginacion color*/
.pagination-container .page-item.active .page-link {
    background-color: #213b68; /* Cambia el color de fondo del enlace activo */
    color: white; /* Cambia el color del texto del enlace activo */
    border-color: #213b68; /* Cambia el color del borde del enlace activo */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 6); /* Sombra negra */
}

/* Estilo para el icono de cierre (la "X") dentro de un botón con clase btn-close */
.btn-close::before {
    color: red; /* Cambia el color a rojo (o el color que desees) */
}


