@model VistaNewProject.Models.Usuario
@{
    Layout = null; // Esto elimina el layout actual, incluyendo el navbar.
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Encabezados -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - LOGIN</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 login-section-wrapper">
                    <div class="login-wrapper my-auto">
                        <h1 class="login-title">OPTIMUS</h1>
                        <div class="text-center">
                            <form asp-controller="Login" asp-action="Login" method="post">
                                <div class="form-group">
                                    <label for="Usuario1">Usuario</label>
                                    <input asp-for="Usuario1" id="Usuario1" class="form-control" placeholder="Usuario" />
                                </div>
                                <div class="form-group mb-4">
                                    <label for="Contraseña">Contraseña</label>
                                    <input asp-for="Contraseña" id="Contraseña" class="form-control" placeholder="Contraseña" type="password" />
                                </div>
                                <button type="submit" class="btn btn-block login-btn">Ingresar</button>
                            </form>
                        </div>
                        <a asp-controller="Login" asp-action="RecuperarContraseña" class="forgot-password-link">¿Recuperar contraseña?</a>
                    </div>
                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://ideogram.ai/api/images/direct/izVOWuDCQyG0-clB0Yw6uA.png" alt="login image" class="login-img">

                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Scripts -->
        @if (!string.IsNullOrEmpty(ViewData["MostrarAlerta"] as string))
        {
            <script>
                Swal.fire('@ViewData["MostrarAlerta"]');
             </script>
        }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>
