@{
    Layout = null; // Esto elimina el layout actual, incluyendo el navbar.
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://kit.fontawesome.com/822fe3c749.js" crossorigin="anonymous"></script>
</head>
<body>
    <h4 class="volver">Recuperar contraseña</h4>
    <div>
        <a href="@Url.Action("Index", "Login")" class="btn btn-primary btn-sm">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="RecuperarContraseña" id="Recuperar" class="password-form" method="post">
                    <div class="form-group">
                        <label for="Correo">Ingresa tu Correo</label>
                        <input type="text" class="form-control" id="Correo" name="correo">
                    </div>
                    <div>
                        @TempData["Mensaje"]
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Comprobar correo</button>
                </form>
            </div>
        </div>
    </div>

</body>

@if (TempData["MensajeExito"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: '@TempData["MensajeExito"]',
            showConfirmButton: false,
            timer: 2000
        }).then(() => {
            window.location.href = '@Url.Action("Index", "Login")';
        });
    </script>
}

<script>
    document.getElementById('Recuperar').addEventListener('submit', function (event) {
        var form = document.getElementById('Recuperar');
        var formFields = form.querySelectorAll('input');

        var isAnyFieldEmpty = false;

        formFields.forEach(function (field) {
            if (field.type !== 'hidden') {
                if (field.value.trim() === '') {
                    isAnyFieldEmpty = true;
                    return;
                }
            }
        });

        if (isAnyFieldEmpty) {
            event.preventDefault();
            alert('No puedes dejar el campo en blanco.');
        } else {
            // Si todos los campos están completos, se enviará el formulario y se mostrará la alerta de éxito.
            // No hay necesidad de prevenir el evento.
            // La redirección ocurrirá después de que se muestre la alerta.
        }
    });
</script>
</html>
