@model Usuario
@{
    ViewData["Title"] = "Editar datos";
}

<h4 class="volver">Editar datos de perfil</h4>
<div>
    <a asp-action="Index" class="btn btn-primary btn-sm">
        <i class="fas fa-arrow-left"></i> Volver
    </a>
</div>
<hr />

<form asp-action="" id="edit" class="row" method="post">
    <div class="col-md-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UsuarioId" id="UsuarioId" />
        <input type="hidden" asp-for="EstadoUsuario" id="EstadoUsuario"/>
        <input type="hidden" asp-for="RolId" id="RolId"/>
        <input type="hidden" asp-for="Contraseña" id="Password" />
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" id="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Apellido" class="control-label"></label>
            <input asp-for="Apellido" id="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Usuario1" class="control-label"></label>
            <input asp-for="Usuario1" id="Usuario1" class="form-control" />
            <span asp-validation-for="Usuario1" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Correo" class="control-label"></label>
            <input asp-for="Correo" id="Correo" class="form-control" />
            <span asp-validation-for="Correo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" id="Telefono"class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
    </div>
    <div class="edit">
        <button type="button" id="botonEditarar" class="btn btn-primary">
            Editar
        </button>

    </div>
</form>

@section Scripts {
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/js/MiPerfil.js"></script>
}





      


