@model VistaNewProject.Models.Detallepedido

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Detallepedido</h4>
<hr />

   
        <form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="d-none">
        <label asp-for="PedidoId" class="control-label"></label>
        <input asp-for="PedidoId" class="form-control" hidden />
        <span asp-validation-for="PedidoId" class="text-danger"></span>
    </div>
    <div class="row">
           

        <div class="col-6">
            <label asp-for="ProductoId" class="control-label"></label>
            <input asp-for="ProductoId" name="ProductoId" class="form-control" list="ProductosList" />
            <datalist id="ProductosList">
                @foreach (var productos in ViewBag.Producto)
                {
                    <option value="@productos.ProductoId">@productos.NombreProducto</option>
                }
            </datalist>
            <span asp-validation-for="ProductoId" class="text-danger"></span>
        </div>
            <div class="col-6">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="PrecioUnitario" class="control-label"></label>
                <input asp-for="PrecioUnitario" class="form-control" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>

        <div class="col-4 mt-4">
            <div class="col-4 mt-4">
                <button type="button" class="btn btn-primary p-2" style="margin-left: 300px" onclick="agregarDetalle('@Url.Action("Create", "DetallePedidos")')">Agregar</button>
            </div>


        </div>



    </div>

    <div class="row mt-5">
        <div class="col-4 mt-5 ">
            <input type="button" value="Cancelar" class="btn btn-primary  p-2" style="margin-left: 300px;" />
        </div>

        <div class="col-4 mt-5">
            <button type="submit" id="guardarButton" class="btn btn-primary p-2" style="margin-left: 200px; ">Guardar</button>
        </div>

    </div>



</form>

<div class=" mt-4" id="listaDetallesPedido">
    <!-- Aquí se mostrarán los detalles de pedido agregados en una tabla -->
    <table class="table table-custom text-center">
        <thead>
            <tr>
                <th>PedidoId</th>
                <th>ProductoId</th>
                <th>Cantidad</th>
                <th>PrecioUnitario</th>
            </tr>
        </thead>
        <tbody>
            <!-- Los detalles del pedido se mostrarán aquí -->
        </tbody>
    </table>
</div>




<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/detallespedidos/detallespedidos.js"></script>

